@import "tailwindcss";

@theme {


  --color-primary: #000;
}


a{
  display: inline-block;
}


.chatList-custom-height{
  height: calc(100dvh - 80px);
}

.custom-inset-shadow{
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}